

// TIPOGRAFIA
$fuente_principal: 'Montserrat', sans-serif;


// COLORES
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: rgb(0, 0, 0);
$blanco: #FFFF;

// tamaño media queries

$telefono: 480px;
$tablet: 768px;
$desktop:992px;
$desktopxl: 1200px;
